<h3>Course Detail</h3>

<div class="container-fluid">

  <div class="container-fluid" *ngIf="moduleId !== undefined">

    <nav class="navbar navbar-expand-sm bg-light">
      <app-lesson-tabs></app-lesson-tabs>
    </nav>

  </div>

  <br>

  <div>
  <div class="row">
  <div class="col-4">

    <app-module-list></app-module-list>

  </div>
    <div class="col-6">
      <nav class="nav-pills" *ngIf="lessonId !== undefined">
        <app-topic-pills></app-topic-pills>
      </nav>
      <br>
      <app-widget-list *ngIf="topicId !== undefined"></app-widget-list>
    </div>

  </div>
  </div>
</div>


